[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
flask = "*"
sqlalchemy = "*"
install = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"
mock-alchemy = "*"
pytest-flask = "*"
isort = "*"
flake8 = "*"
black = "*"
pytest-mock = "*"
pytest-postgresql = "*"
psycopg = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
